<div class="flex justify-end mb-4 gap-2">
  <p-button [routerLink]="['/kunden', customerId(), 'termine', 'neu']" ariaLabel="Neuen Termin erfassen">
    <span class="material-symbols-outlined text-xl" aria-hidden="true">add</span>
    <span>Neuer Termin</span>
  </p-button>
  <p-button (onClick)="createBill()" ariaLabel="Neue Quittung erstellen">
    <span class="material-symbols-outlined text-xl" aria-hidden="true">add</span>
    <span>Quittung erstellen</span>
  </p-button>
</div>

<p-table
  [value]="appointments()"
  [(selection)]="selectedAppointments" dataKey="id"
>
  <ng-template #header>
    <tr>
      <th></th>
      <th>Datum</th>
      <th>Zeit</th>
      <th>Therapie</th>
      <th>Dauer (Minuten)</th>
      <th>Preis (CHF)</th>
      <th></th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-appointment>
    <tr>
      <td><p-tableCheckbox [value]="appointment" /></td>
      <td>{{ appointment.appointmentTimestamp | date:'dd.MM.yyyy' }}</td>
      <td>{{ appointment.appointmentTimestamp | date:'HH:mm' }}</td>
      <td>{{ appointment.therapy.name }}</td>
      <td>{{ appointment.therapy.duration }}</td>
      <td>{{ appointment.therapy.price | number:'1.2-2' }}</td>
      <td class="w-10">
        <p-button [text]="true" severity="secondary" [routerLink]="['/kunden', customerId(), 'termine', appointment.id, 'bearbeiten']" ariaLabel="Termin bearbeiten" pTooltip="Bearbeiten" tooltipPosition="top">
          <span class="material-symbols-outlined text-xl" aria-hidden="true">edit</span>
        </p-button>
      </td>
      <td class="w-10">
        <p-button [text]="true" severity="danger" (onClick)="deleteAppointment(appointment.id)" ariaLabel="Kunde löschen" pTooltip="Löschen" tooltipPosition="top">
          <span class="material-symbols-outlined text-xl" aria-hidden="true">delete</span>
        </p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="8" class="text-center py-8 text-content/50">Keine Termine gefunden.</td>
    </tr>
  </ng-template>
</p-table>
<p-toast position="bottom-center" />