<p-table
  [value]="bills()"
>
  <ng-template #header>
    <tr>
      <th>Kunde</th>
      <th>Erstellt</th>
    </tr>
  </ng-template>
  <ng-template #body let-bill>
    <tr>
      <td><a [routerLink]="['/kunden', bill.customer.id]" class="hover:underline">{{ bill.customer.lastName }} {{ bill.customer.firstName }}</a></td>
      <td>{{ bill.billTimestamp | date:'dd.MM.yyyy' }}</td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="10" class="text-center py-8 text-content/50">Keine Rechnungen gefunden.</td>
    </tr>
  </ng-template>
</p-table>
