<div class="card">
  <h1 class="text-3xl font-bold mb-6">
    {{ customer()?.firstName }} {{ customer()?.lastName }}
  </h1>
  <p-tabs [value]="activeTab()">
    <p-tablist>
      <p-tab [value]="0">Kunde</p-tab>
      <p-tab [value]="1">Termine</p-tab>
      <p-tab [value]="2">Quittungen</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel [value]="0">
        <div class="p-6 max-w-2xl">
          <div class="grid gap-y-4">
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Nachname</span>
              <span>{{ customer()?.lastName }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Vorname</span>
              <span>{{ customer()?.firstName }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Geburtsdatum</span>
              <span>{{ customer()?.dateOfBirth | date:'dd.MM.yyyy' }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Adresse</span>
              <span>{{ customer()?.address }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">PLZ</span>
              <span>{{ customer()?.zipCode }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Ort</span>
              <span>{{ customer()?.city }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Land</span>
              <span>{{ customer()?.country }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Mobil</span>
              <span>{{ customer()?.mobile }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Telefon</span>
              <span>{{ customer()?.phone }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">E-Mail</span>
              <span>{{ customer()?.email }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">AHV-Nummer</span>
              <span>{{ customer()?.socialSecurityNumber }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Krankenkasse</span>
              <span>{{ customer()?.healthInsuranceProvider }}</span>
            </div>
            <div class="grid grid-cols-[200px_1fr] items-center gap-x-4">
              <span class="text-right font-medium">Versicherten-Nummer</span>
              <span>{{ customer()?.healthInsuranceId }}</span>
            </div>
          </div>
        </div>
      </p-tabpanel>
      <p-tabpanel [value]="1">
        <app-appointments-list [appointments]="appointments()" /></p-tabpanel>
      <p-tabpanel [value]="2">
        <app-bills-list [bills]="bills()" />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>