<div class="card">
  <h1 class="text-3xl font-bold mb-4">
    {{ store.customer()?.firstName }} {{ store.customer()?.lastName }}
  </h1>
  <p-tabs [value]="activeTab()">
    <p-tablist>
      <p-tab [value]="0" (click)="navigate('kunde')">Kunde</p-tab>
      <p-tab [value]="1" (click)="navigate('termine')">Termine</p-tab>
      <p-tab [value]="2" (click)="navigate('krankengeschichte')">Krankengeschichte</p-tab>
      <p-tab [value]="3" (click)="navigate('quittungen')">Quittungen</p-tab>
    </p-tablist>
  </p-tabs>
  <router-outlet />
</div>
