<div class="flex justify-end mb-4">
  <p-button routerLink="/kunden/neu" ariaLabel="Neuen Kunden erfassen">
    <span class="material-symbols-outlined text-xl" aria-hidden="true">add</span>
    <span>Neuer Kunde</span>
  </p-button>
</div>

<p-table
  [value]="customers()"
>
  <ng-template #header>
    <tr>
      <th><!-- Markierung --></th>
      <th pSortableColumn="lastName">Nachname <p-sortIcon field="lastName" /></th>
      <th pSortableColumn="firstName">Vorname <p-sortIcon field="firstName" /></th>
      <th>Geburtsdatum</th>
      <th>Mobil</th>
      <th>Telefon</th>
      <th>E-Mail</th>
      <th><!-- Bearbeiten --></th>
      <th><!-- Löschen --></th>
    </tr>
  </ng-template>
  <ng-template #body let-customer>
    <tr>
      <td class="w-1" [class.bg-red-400]="customerHasBirthdayToday(customer.dateOfBirth)"></td>
      <td><a [routerLink]="['/kunden', customer.id]" class="font-bold">{{ customer.lastName }}</a></td>
      <td><a [routerLink]="['/kunden', customer.id]" class="font-bold">{{ customer.firstName }}</a></td>
      <td>{{ customer.dateOfBirth | date: 'dd.MM.yyyy' }}</td>
      <td>{{ customer.mobile }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.email }}</td>
      <td class="w-10">
        <p-button [text]="true" severity="secondary" [routerLink]="['/kunden', customer.id, 'bearbeiten']" ariaLabel="Kunde bearbeiten" pTooltip="Bearbeiten" tooltipPosition="top">
          <span class="material-symbols-outlined text-xl" aria-hidden="true">edit</span>
        </p-button>
      </td>
      <td class="w-10">
        <p-button [text]="true" severity="danger" (onClick)="deleteCustomer(customer.id)" ariaLabel="Kunde löschen" pTooltip="Löschen" tooltipPosition="top">
          <span class="material-symbols-outlined text-xl" aria-hidden="true">delete</span>
        </p-button>
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="8" class="text-center py-8 text-content/50">Keine Kunden gefunden.</td>
    </tr>
  </ng-template>
</p-table>

